ngx.escape_uri should escape RFC 3986 section 2.2 Reserved Characters

$ python -c "import urllib; print urllib.quote(\"'\")"
%27

$ resty -e "ngx.say(ngx.escape_uri(\"'\"))"
'
ngx.escape_uri should escape "'" to %27 but not.

@hunterli Will you contribute a pull request for it? Thanks!

@agentzh OK, I'll try it.

@hunterli Great! Looking forward to it!

I am afraid I don't think it is a bug.

According to the document, `ngx.escape_uri` is used to:
> Escape str as a URI component.

Although its name is `escape_uri`.

Escape uri is different from escaping URI component.
The second one doesn't need to escape `'`.
Refer to `RFC 3986 section 2.2`:
> A subset of the reserved characters (gen-delims) is used as
   delimiters of the generic URI components described in Section 3

Note that the RFC only requires the **gen-delims** part of reserved characters. **Not all the reserved characters**.

What `urllib.quote` does is more like escaping uri instead of escaping URI component.
According to its document, `urllib.quote` is used to:
> By default, this function is intended for quoting the path section of the URL.

Don't mix up these two differnt things.

@spacewander 
FYI: [https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent](url) said:
To be more stringent in adhering to RFC 3986 (which reserves !, ', (, ), and *), even though these characters have no formalized URI delimiting uses, the following can be safely used

@hunterli 
Could you point out where RFC 3986 says that `!, ', (, ), and *` are reserved for URI component?

One place I found including `!, ', (, ), and *` is the `D.2.  Modifications`, under `Appendix D.  Changes from RFC 2396 `:
> The mark characters that are typically unsafe to decode,
   including the exclamation mark ("!"), asterisk ("*"), single-quote
   ("'"), and open and close parentheses ("(" and ")"), have been moved
   to the reserved set in order to clarify the distinction between
   reserved and unreserved and, hopefully, to answer the most common
   question of scheme designers.

However, it just says `'` is reserved compared with `RFC 2396`, doesn't say it is reserved for URI component.

According to `Appendix A.  Collected ABNF for URI`, `'` is one of the `sub-delims`, which could be a part of `query` or `fragment`.

@spacewander I test url encode function in php and lua, both of them output %27. So may be compatible with other programming language to escape `sub-delims` is a acceptable answer? (Sorry for poor English)
> php -r "echo urlencode(\"test'test\");"
  ` test%27test`
FYI: [http://lua-users.org/wiki/StringRecipes](http://lua-users.org/wiki/StringRecipes)

> URL-encode a string
>>function url_encode(str)
  if (str) then
    str = string.gsub (str, "\n", "\r\n")
    str = string.gsub (str, "([^%w %-%_%.%~])",
        function (c) return string.format ("%%%02X", string.byte(c)) end)
    str = string.gsub (str, " ", "+")
  end
  return str	
end


Why not be compatible with Javascript? It doesn't escape `'`, too. And it doesn't strictly follow the `RFC 3986`, either. Do you like PHP more than Javascript? 😄 

Another option is [do what Go developers did](https://github.com/golang/go/issues/16127): they just simply said:
> we've accepted that we can't fully implement the RFC at this point for compatibility reasons.

Luckily, our previous implementation is more compatible with `RFC 3986`. Why should we break the compatibility with `RFC 3986` and break the compatibility with former code at the same time?

If your target environment requires special encode rule, just do it in your code.

I tried go in golang.org:

package main

import(
"fmt"
"net/url"
)

func main() {
	fmt.Println(url.QueryEscape("'"))
}

output：%27

@spacewander 
sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"
                  / "*" / "+" / "," / ";" / "="
For "&" and "'" both in sub-delims, ngx.escape_uri encode "&", why not "'"?

@hunterli 
1. Go's implementation doesn't follow the RFC 3986. And for backward compability, they don't want to fix it. See https://github.com/golang/go/issues/16127.
2. The original `ngx.escape_uri` doesn't strictly follow the RFC 3986. However, escape other `sub-delims` will make it less compatible with the RFC 3986 and also break the backward compability.

被你弄糊涂了，Sorry,中文直接上了，看不懂就放弃了。也可能是我理解错误，RFC说"Reserved Characters"都应该escape，"Reserved Characters"包含gen-delims和sub-delims，这样的话gen-delims和sub-delims都应该escape，否则就是"白马非马"了。

> RFC说"Reserved Characters"都应该escape

Could you point out where RFC 3986 says that all reserved characters should be escaped for URI component?
Refer to `Appendix A. Collected ABNF for URI`, `sub-delims` could be a valid part of some URI components.

> URI producing applications should percent-encode data octets that
   correspond to characters in the reserved set unless these characters
   are specifically allowed by the URI scheme to represent data in that
   component.
这个是什么意思呀？通常的用户不是这样用么：
     http://example.com/query?test=ngx.escape("test=&'test")
如果"&","=","'"之类做为分隔符，就程序员自己放在ngx.escape函数外面吧？